<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- <link rel="stylesheet" href="styles/style.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="styles/flickr-style.css" type="text/css" media="screen" /> -->
		<!-- <script type="text/javascript" src="javascript/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="javascript/javascript.js"></script> -->
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<title><%= full_title(yield(:title)) %></title>
	</head>
	<body>
		<header>
			<%= link_to image_tag("hackerspace-logo.png", :id=>'logo', :alt=>'Hackerspace logo'), home_path %>
		<nav>
			<div class="outline">
				<ul>
					<li class="<%= (yield(:page) == 'projects' ) ? 'current' : '' %>"><%= link_to 'Projects', projects_path %></li>
					<li class="<%= (yield(:page) == 'events' ) ? 'current' : '' %>"><%= link_to 'Events', events_path %></li>
					<li class="<%= (yield(:page) == 'hackers' ) ? 'current' : '' %>"><%= link_to 'Hackers', hackers_path %></li>
					<li><a href="http://blog.hackerspace-krk.pl/">Blog</a></li>
					<li class="<%= (yield(:page) == 'contact' ) ? 'current' : '' %>"><%= link_to 'Contact', contact_path %></li>
				</ul>
			</div>
		</nav>
		<a id="login" class="button" href="">Log in</a>
	</header>

		<%= yield %>

	</body>
	
	<footer>
		<nav>
			<ul>
				<li class="<%= (yield(:page) == 'homepage' ) ? 'current' : '' %>"><%= link_to 'Home Page', home_path %></li>
				<li class="<%= (yield(:page) == 'about' ) ? 'current' : '' %>"><%= link_to 'About', about_path %></li>
				<li class="<%= (yield(:page) == 'projects' ) ? 'current' : '' %>"><%= link_to 'Projects', projects_path %></li>
				<li class="<%= (yield(:page) == 'events' ) ? 'current' : '' %>"><%= link_to 'Events', events_path %></li>
				<li class="<%= (yield(:page) == 'hackers' ) ? 'current' : '' %>"><%= link_to 'Hackers', hackers_path %></li>
				<li><a href="http://blog.hackerspace-krk.pl/">Blog</a></li>
				<li class="<%= (yield(:page) == 'contact' ) ? 'current' : '' %>"><%= link_to 'Contact', contact_path %></li>
				<li class="<%= (yield(:page) == 'sponsors' ) ? 'current' : '' %>"><%= link_to 'Sponsors', sponsors_path %></li>
			</ul>
		</nav>
		<br />
		<p>design & coding: <a href="http://about.me/mmskrzyp">mmskrzyp</a></p>
	</footer>
</html>
