<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<title><%= full_title(yield(:title)) %></title>
	</head>
	<body>
		<header>
			<%= link_to image_tag("hackerspace-logo.png", :id=>'logo', :alt=>'Hackerspace logo'), home_path %>
		<nav>
			<div class="outline">
				<ul>
					<li class="<%= (yield(:page) == 'projects' ) ? 'current' : '' %>"><%= link_to 'Projects', projects_path %></li>
					<li class="<%= (yield(:page) == 'events' ) ? 'current' : '' %>"><%= link_to 'Events', events_path %></li>
					<li class="<%= (yield(:page) == 'hackers' ) ? 'current' : '' %>"><%= link_to 'Hackers', hackers_path %></li>
					<li><a href="http://blog.hackerspace-krk.pl/">Blog</a></li>
					<li class="<%= (yield(:page) == 'contact' ) ? 'current' : '' %>"><%= link_to 'Contact', contact_path %></li>
				</ul>
			</div>
		</nav>
		<a id="login" class="button" href="">Log in</a>
	</header>

		<%= yield %>

	</body>

	<footer>
		<nav>
			<ul>
				<% StaticPageConstraint::STATIC_PAGES[0, 6].each do |page| %>
					<li class="<%= 'current' if (params[:action] == page) %>">
						<%= link_to page.capitalize, eval("#{page}_path") %>
					</li>
				<% end %>
				<li><a href="http://blog.hackerspace-krk.pl/" target="_blank">Blog</a></li>
			</ul>
		</nav>
		<br />
		<p>design & coding: <a href="http://about.me/mmskrzyp">mmskrzyp</a></p>
	</footer>
</html>
